@charset "UTF-8";

/* font-family: 'Raleway', sans-serif; {}  */
/* Orange #F26101 */
/* Bleu Foncé #91BED4 */
/* Bleu Clair #D9E8F6 */

/*#################################################################################*/

body {
	font-family: 'Raleway', sans-serif;

}

/* HEADER */

.container-fluid-header {
	background-color: #D9E8F6;
	height: 200px;
	line-height: 70px;
	text-decoration: none;
	text-align: center;

}

.container{
	width: 100%;
	margin: 0;

}

.faux {
	width: 100%;

}

.faux2 {
	height: 200px;

}

.developpeur {
	display: flex;
	align-items: center;
	color: #F26101;
	background-color: #D9E8F6
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	width: 100%;
	
} 

h1 {

}

a {
	text-decoration: none;

}

.JB {
	
	width: 100%;
}

.prenom {
	padding-top: 30px;
	padding-bottom: 15px;
	color: #F26101;
	text-align: center;

}

/* COORDONNEES */

.container-fluid-num {
	width: 22%;
	height: 2100px;
	background-color: #91BED4;
	float: left;
	
}

.numeros {
	text-align: center;
	
}

.mailto {
	color: black;

}

.mailto:hover {
	color: #F26101;

}

/* ICONES SOCIALES */

.social {
	text-align: center;

}

.link a {
	font-size: 40px;
	text-decoration: none;
	color: black;

}

.link a:hover {
	text-decoration: none;
	color: #F26101;

}

/* BANNIERE */

.banner {
	width: 100%;
	max-width: 100%;
	background-color: #91BED4;

}

.ban {
	width: 100%
	max-width:100%;

}

.inner-banner-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;

}

.inner-banner h1 {
	color: #F26101;
	text-shadow:  1px 1px 20px #000000;

}


.bloc-principal {
	width: 78%;
	float: right;

}

/* ABOUT */

.container-fluid-about {
	padding-bottom: 10px;
	width: 78%;
	padding-left: 80px;
}

.apropos {
	color: #F26101;
	text-decoration: underline;
	padding-top: 30px;

}

/* FORMATION */

.formation {
	text-align: center;
	color: #F26101;
	text-decoration: underline;
	padding-top: 20px;

}

.diplome {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

}

/*LANGUES*/

.langues {
	text-align: center;
	color: #F26101;
	text-decoration: underline;
	padding-top: 20px;
	padding-bottom: 20px;

}

.languesbis {
	text-align: center;
	padding-bottom: 20px;

}

/* CENTRES D'INTERETS*/

.interet {
	text-align: center;
	color: #F26101;
	text-decoration: underline;
	padding-top: 20px;
	padding-bottom: 20px;

}

.interetbis {
	font-size: 30px;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

} 

.camera {
	text-decoration: none;

}

.camera a:hover {
	text-decoration: none;

}

/* COMPETENCES */

.competences {
	color: #F26101;
	text-decoration: underline;
	padding-top: 30px;

}

.icones {
	display: flex;
	text-align: center;
	height: 90px;
	font-size: 80px;
	justify-content: space-around;

}

/* EXPERIENCES */

.manipulateur {
	width: 78%;
	float: right;
	
} 

.radiologie {
	color: #F26101;
	text-decoration: underline;

}

.radio {
	color: #91BED4;

} 

.container-fluid-experiences {
	display: flex;
	padding-left: 80px;

}

.experiences {
	display: flex;
	color: #F26101;
	text-decoration: underline;
	padding-top: 30px;
	
} 
