@charset "UTF-8";

/* font-family: 'Raleway', sans-serif; {}  */
/* Orange #F26101 */
/* Bleu Foncé #91BED4 */
/* Bleu Clair #D9E8F6 */

/*#################################################################################*/

/* HEADER */

.container-fluid-header {
	background-color: #D9E8F6;
	height: 200px;
	line-height: 70px;
	text-decoration: none;
	text-align: center;

}

.developpeur {
	color: #F26101;
	background-color: #D9E8F6
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	padding-top: 50px;
	padding-left: 200px;

} 

/* .menu {
	background-color: #D9E8F6
	
}

.menu a {
	color: #ffffff;
	margin-right: 20px;

}

.menu a:hover {
	color: #2c3e50;

}
*/

a {
	text-decoration: none;

}


.prenom {
	color: #F26101;
	text-align: center;

}

/* COORDONNEES */

.container-fluid-num {
	width: 22%;
	height: 1750px;
	background-color: #91BED4;
	float: left;
	
}

.numeros {
	text-align: center;
	
}

.mailto {
	color: black;

}

.mailto:hover {
	color: #F26101;

}

/* ICONES SOCIALES */

.social {
	text-align: center;

}

.link a {
	font-size: 40px;
	text-decoration: none;
	color: black;

}

.link a:hover {
	text-decoration: none;
	color: #F26101;

}

/* BANNIERE */

.banner {
	width: 100%;
	max-width: 100%;
	background-color: #91BED4;

}

.ban {
	width: 100%
	max-width:100%;

}

.inner-banner-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;

}

.inner-banner h1 {
	color: #F26101;
	text-shadow:  1px 1px 20px #000000;

}


.bloc-principal {
	width: 78%;
	float: right;

}

/* ABOUT */

.container-fluid-about {
	padding-bottom: 10px;
	width: 78%;
	padding-left: 80px;
}

.apropos {
	color: #F26101;
	text-decoration: underline;
	padding-top: 30px;

}

/* FORMATION */

.formation {
	text-align: center;
	color: #F26101;
	text-decoration: underline;
	padding-top: 20px;

}

.diplome {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

}

/*LANGUES*/

.langues {
	text-align: center;
	color: #F26101;
	text-decoration: underline;
	padding-top: 20px;

}

.languesbis {
	text-align: center;
	padding-bottom: 20px;

}

/* CENTRES D'INTERETS*/

.interet {
	text-align: center;
	color: #F26101;
	text-decoration: underline;
	padding-top: 20px;

}

.interetbis {
	font-size: 30px;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
} 

.camera {
	text-decoration: none;

}

.camera a:hover {
	text-decoration: none;

}

/* COMPETENCES */

.competences {
	color: #F26101;
	text-decoration: underline;
	padding-top: 30px;

}

.icones {
	display: flex;
	text-align: center;
	height: 90px;
	font-size: 80px;
	justify-content: space-around;

}

/* EXPERIENCES */

.manipulateur {
	width: 78%;
	float: right;
	
} 
.radiologie {
	color: #F26101;
	text-decoration: underline;

}

.radio {
	color: #91BED4;

} 

.container-fluid-experiences {
	display: flex;
	padding-left: 80px;

}
.experiences {
	display: flex;
	color: #F26101;
	text-decoration: underline;
	padding-top: 30px;
	
} 

/* PORTFOLIO 

div#slider figure img {
	width: 150px; 
	height: auto;
	height: auto; 
	float: left;
}

div#slider {
	width: 80%; 
	height: auto;
	max-width: 150px; 
	overflow: hidden;
}

@keyframes slidy {
	0% { left: 0%; }
	5.88% { left: -25%; }
	11.76% {left: -50%; }
	17.64% {left: -75%; }
	23.52% {left: -100%; }
	29.4% {left: -125%; }
	35.28% {left: -150%; }
	41.16% {left: -175%; }
	47.04% {left: -200%; }
	52.92% {left: -225%; }
	58.8% {left: -250%; }
	64.68% {left: -275%; }
	70.56% {left: -300%; }
	76.44% {left: -325%; }
	82.32% {left: -350%; }
	88.2% {left: -375%; }
	94.08% {left: -400%; }
	100% {left: -425%; }

}

div#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	padding: 0;
	font-size: 0;
	left: 0;
	text-align: left;
	animation: 20s slidy infinite;

}

END PORTFOLIO */
